<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="dddd">
        <environment id="dddd">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
                <property name="username" value="nkong"/>
                <property name="password" value="nkong"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="com/nkong/dao/UserMapper.xml"/>
    </mappers>
</configuration>